*{
    padding:0;
    margin:0;
}
body{
    font-family: 'Manrope', sans-serif;
    color:#121212;
}

#main{
    display:flex;
    width:90%;
    margin:auto;
    justify-content: space-between;

}

#functionality{

width:25%;
}


/* container css */
#container{
    width:73%;
    display:grid;
    grid-template-columns: repeat(3,1fr);
    gap:20px;
    font-weight: 500;
}
/* imgBtn CSS */
#container .imgBtndiv{
    position:relative;
}

#container .BtnAdd{
    border-style: none;
    padding:8px 12px;
    font-size: 14px;
    font-weight: bold;
    background-color: #FF7035;
    color:#FFFFFF;
    position:absolute;
    left:33%;
    bottom:0;
    opacity:0;
    transition:1s;

}
#container .imgBtndiv:hover .BtnAdd{
    bottom:12%;
    opacity:1;
}
#container .BtnAdd{
    cursor:pointer;
}




#container .image{
    width:100%;
    margin:0 0 8px;

}
#container>div .name{
    font-size: 16px; 
    color:#121212; 
    font-weight: 200;
    margin:0 0 4px;
    
}

#container>div .brandName{
    font-size:14px;
    color:#848484;
}

#price{
    display:flex;
    height:40px;
    align-items: center;
    
}
#price .totalPrice{
    text-decoration: line-through;
    color:#848484;
    font-size:12px;
}
#price .discountPrice{
    font-size: 16px;
    color:#FF7035;
    margin-right:8px;
    font-weight: bolder;
}

#container .discount{
    font-size: 14px;
    color:#67AD5B;
    font-weight: bold;
    margin:0 0 8px;
}
#container .shippingDay{
    font-size:12px;
    color:#121212;
}

.sorting{
    font-size: 16px;
    color:#121212;
}
.sorting>h2,.filter>h2{
    font-size: 16px;
}
.sorting>input[type=radio]{
    height:18px;
    width:16px;
    margin-right:5px;
    
}






@media only screen and (max-width: 900px) and (min-width: 400px){
    #container{
        display:grid;
        grid-template-columns: repeat(3,1fr);
        gap:20px;
        
        font-weight: 500;
    }
}
@media only screen and (max-width: 400px) and (min-width: 100px){
    #container{
        display:grid;
        grid-template-columns: repeat(1,1fr);
        gap:20px;
        border:2px solid blue;
        font-weight: 500;
    }
}
